.main-header {
  font-size: clamp(30px, 7vw, 80px);
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: -0.013em;
  text-align: center;
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.431));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.input {
  background-color: transparent;
  outline: 1px solid rgba(128, 128, 128, 0.378);
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  width: 100%;
}

.basic-text {
  opacity: 0.8;
}

.header-main {
  font-size: clamp(37px, 5vw, 6vw);
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.1;
  /* background-clip: text;
  background-image: linear-gradient(
    to bottom,
    white,
    rgba(255, 255, 255, 0.269)
  );
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; */
}

@media (width < 786px) {
  .desktop {
    display: none;
  }
}

@media (width > 768px) {
  .mobile-tablet {
    display: none;
  }
}

@media (width > 500px) {
  .mobile {
    display: none;
  }
}
